Repository przemyslawkulak/meal2list: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: added cursor_rules and readme
  .cursor/rules/coding_practices-static_analysis-eslint.mdc
  .cursor/rules/coding_practices-static_analysis-prettier.mdc
  .cursor/rules/coding_practices-support_level-support_expert.mdc
  .cursor/rules/frontend-angular-angular_coding_standards.mdc
  .cursor/rules/frontend-angular-angular_material.mdc
  .cursor/rules/frontend-styling-scss.mdc
  .cursor/rules/frontend.mdc
  .cursor/rules/shared.mdc
  .nvmrc
  README.md
Due: prettier --write

feat: added db_plan and db migrations to supabase
  .ai/db_plan.md
  .ai/db_summary.md
  .cursor/rules/db-supbase-migrations.mdc
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20240415000000_create_initial_schema.sql
  supabase/migrations/20240415000001_add_rls_policies.sql
  supabase/migrations/20240415000002_add_update_timestamps.sql
Due: prettier --write

feat: disabled rls policies
  supabase/migrations/20240415000003_drop_rls_policies.sql
Due: none

feat: subpbase initial configuration
  .gitignore
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/auth/account/account.component.html
  src/app/core/supabase/supabase.service.ts
  src/db/database.types.ts
  src/main.ts
Due: eslint --fix, prettier --write

style: adde new styling theme
  src/styles.scss
Due: none

feat: created account and login components
  src/app/auth/account/account.component.scss
  src/app/auth/account/account.component.ts
  src/app/auth/login/login.component.html
  src/app/auth/login/login.component.scss
  src/app/auth/login/login.component.ts
Due: eslint --fix, prettier --write

style: added material icons
  src/index.html
Due: prettier --write

feat: created api-plan, added backand and frontend cursor rules
  .ai/api-plan.md
  .cursor/rules/backend.mdc
  .cursor/rules/frontend-angular-angular_coding_standards.mdc
  .cursor/rules/shared.mdc
  src/types.ts
Due: eslint --fix, prettier --write

feat: added authGuards and supabase service
  .gitignore
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/login/login.component.ts
  src/app/core/guards/auth.guard.ts
  src/app/core/supabase/supabase.service.ts
  src/db/supabase.client.ts
Due: eslint --fix, prettier --write

feat: added shopping-list-generation component and service
  .ai/view-implementation-plan.md
  src/app/app.routes.ts
  src/app/core/controllers/generation.controller.ts
  src/app/features/generate/generation.component.html
  src/app/features/generate/generation.component.scss
  src/app/features/generate/generation.component.ts
  src/services/generation.service.ts
  src/services/schemas/generation.schema.ts
Due: eslint --fix, prettier --write

feat: added method for generation API
  .cursor/rules/backend.mdc
  src/app/core/controllers/generation.controller.ts
  src/app/core/guards/auth.guard.ts
  src/app/features/generate/generation.component.ts
  src/schemas/generation.schema.ts
  src/services/generation/generation.service.ts
Due: eslint --fix, prettier --write

feat: added MVP endpoints implementation plans
  .ai/add-product-to-list-implementation-plan.md
  .ai/add-shopping-lists-implementation-plan.md
  .ai/categories-implementation-plan.md
  .ai/done-generate-implementation-plan.md
  .ai/get-shopping-list-implementation-plan.md
  src/app/app.routes.ts
  src/app/auth/login/login.component.ts
Due: eslint --fix, prettier --write

feat: added categories method
  src/app/app.routes.ts
  src/app/core/supabase/category.service.ts
  src/app/features/categories/categories.component.html
  src/app/features/categories/categories.component.scss
  src/app/features/categories/categories.component.ts
Due: eslint --fix, prettier --write

feat: added provideExperimentalZonelessChangeDetection
  angular.json
  src/app/app.config.ts
  src/app/app.routes.ts
Due: eslint --fix, prettier --write

feat: implemented shopping list api method
  .ai/done-add-shopping-lists-implementation-plan.md
  .ai/done-categories-implementation-plan.md
  src/app/app.routes.ts
  src/app/core/supabase/shopping-list.service.ts
  src/app/features/shopping-lists/create/create-shopping-list.component.html
  src/app/features/shopping-lists/create/create-shopping-list.component.scss
  src/app/features/shopping-lists/create/create-shopping-list.component.ts
Due: eslint --fix, prettier --write

fix: updated cursor rules
  .cursor/rules/backend.mdc
  .cursor/rules/frontend-angular-angular_coding_standards.mdc
  .cursor/rules/frontend.mdc
Due: none

feat: added create shopping list method
  src/app/app.routes.ts
  src/app/core/supabase/shopping-list.service.ts
  src/app/features/shopping-list/detail/shopping-list-detail.component.html
  src/app/features/shopping-list/detail/shopping-list-detail.component.scss
  src/app/features/shopping-list/detail/shopping-list-detail.component.ts
  src/app/features/shopping-lists/create/create-shopping-list.component.ts
Due: eslint --fix, prettier --write

feat: added service to adding products to shopping list
  .ai/done-add-product-to-list-implementation-plan.md
  .ai/done-get-shopping-list-implementation-plan.md
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/features/shopping-lists/create/create-shopping-list.component.ts
  src/schemas/shopping-list-item.schema.ts
Due: eslint --fix, prettier --write

chore: replaced generation service
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/core/supabase/generation.service.ts
  src/app/features/generate/generation.component.ts
  src/services/generation.service.ts
Due: eslint --fix, prettier --write

feat: added ui-plan and ui-planing-session summary
  .ai/ui-plan.md
  .ai/ui_planning_session_summary.md
Due: prettier --write

chore: moved ai files to /db and /ui folders
  .ai/db/done-add-product-to-list-implementation-plan.md
  .ai/db/done-add-shopping-lists-implementation-plan.md
  .ai/db/done-categories-implementation-plan.md
  .ai/db/done-generate-implementation-plan.md
  .ai/db/done-get-shopping-list-implementation-plan.md
  .ai/tech-stack.md
  .ai/ui/done-generacja-listy-z-przepisu-view-implementation-plan.md
  src/app/core/supabase/generation.service.ts
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/core/supabase/shopping-list.service.ts
Due: eslint --fix, prettier --write

feat: added generation flow and components (without AI)
  src/app/app.routes.ts
  src/app/features/generate/generation.component.html
  src/app/features/generate/generation.component.scss
  src/app/features/generate/generation.component.ts
  src/app/features/lists/generate/components/character-counter/character-counter.component.html
  src/app/features/lists/generate/components/character-counter/character-counter.component.scss
  src/app/features/lists/generate/components/character-counter/character-counter.component.ts
  src/app/features/lists/generate/components/generation-form/generation-form.component.html
  src/app/features/lists/generate/components/generation-form/generation-form.component.scss
  src/app/features/lists/generate/components/generation-form/generation-form.component.ts
  src/app/features/lists/generate/components/generation-status/generation-status.component.html
  src/app/features/lists/generate/components/generation-status/generation-status.component.scss
  src/app/features/lists/generate/components/generation-status/generation-status.component.ts
  src/app/features/lists/generate/generate-list.page.html
  src/app/features/lists/generate/generate-list.page.scss
  src/app/features/lists/generate/generate-list.page.ts
  src/app/features/shopping-list/create/create-shopping-list.component.html
  src/app/features/shopping-list/create/create-shopping-list.component.scss
  src/app/features/shopping-list/create/create-shopping-list.component.ts
Due: eslint --fix, prettier --write

chore: delete ssr
  angular.json
  package.json
  src/app/app.config.server.ts
  src/app/app.routes.server.ts
  src/app/core/supabase/supabase.service.ts
  src/main.server.ts
  src/server.ts
  tsconfig.app.json
Due: eslint --fix, prettier --write

feat: added shopping lists page
  .ai/ui/done-shopping-lists-view-implementation-plan.md
  package-lock.json
  package.json
  src/app/app.routes.ts
  src/app/auth/login/login.component.ts
  src/app/core/supabase/shopping-list.service.ts
  src/app/features/shopping-list/create/create-shopping-list.component.html
  src/app/features/shopping-list/create/create-shopping-list.component.scss
  src/app/features/shopping-list/create/create-shopping-list.component.ts
  src/app/features/shopping-lists/components/delete-confirm-dialog/delete-confirm-dialog.component.html
  src/app/features/shopping-lists/components/delete-confirm-dialog/delete-confirm-dialog.component.scss
  src/app/features/shopping-lists/components/delete-confirm-dialog/delete-confirm-dialog.component.ts
  src/app/features/shopping-lists/components/new-shopping-list-dialog/new-shopping-list-dialog.component.html
  src/app/features/shopping-lists/components/new-shopping-list-dialog/new-shopping-list-dialog.component.scss
  src/app/features/shopping-lists/components/new-shopping-list-dialog/new-shopping-list-dialog.component.ts
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.html
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.scss
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.ts
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.html
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.scss
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.ts
Due: eslint --fix, prettier --write

feat: added routing to shoping list details
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.html
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.ts
Due: eslint --fix, prettier --write

feat: added kitchen sink page and components
  src/app/app.routes.ts
  src/components/button/button.component.html
  src/components/button/button.component.scss
  src/components/button/button.component.ts
  src/components/card/card.component.html
  src/components/card/card.component.scss
  src/components/card/card.component.ts
  src/components/input/input.component.html
  src/components/input/input.component.scss
  src/components/input/input.component.ts
  src/components/list/list.component.html
  src/components/list/list.component.scss
  src/components/list/list.component.ts
  src/pages/kitchen-sink/kitchen-sink.page.html
  src/pages/kitchen-sink/kitchen-sink.page.scss
  src/pages/kitchen-sink/kitchen-sink.page.ts
Due: eslint --fix, prettier --write

feat: small style changes in shopping-list-items
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.scss
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.html
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.ts
Due: eslint --fix, prettier --write

feat: added navbar and sidebar
  .ai/ui/done-nav-layout-view-implementation.md
  src/app/app.routes.ts
  src/app/auth/account/account.component.ts
  src/app/core/guards/auth.guard.ts
  src/app/core/supabase/category.service.ts
  src/app/features/categories/categories.component.html
  src/app/features/categories/categories.component.scss
  src/app/features/categories/categories.component.ts
  src/app/features/lists/generate/components/generation-form/generation-form.component.ts
  src/app/features/not-found/not-found.component.html
  src/app/features/not-found/not-found.component.ts
  src/app/layout/mobile-menu-toggle/mobile-menu-toggle.component.html
  src/app/layout/mobile-menu-toggle/mobile-menu-toggle.component.scss
  src/app/layout/mobile-menu-toggle/mobile-menu-toggle.component.ts
  src/app/layout/nav-list/nav-list.component.html
  src/app/layout/nav-list/nav-list.component.scss
  src/app/layout/nav-list/nav-list.component.ts
  src/app/layout/shell/shell.component.html
  src/app/layout/shell/shell.component.scss
  src/app/layout/shell/shell.component.ts
  src/components/button/button.component.html
  src/components/button/button.component.ts
  src/components/card/card.component.html
  src/components/card/card.component.ts
  src/components/input/input.component.html
  src/components/input/input.component.ts
  src/components/list/list.component.html
  src/components/list/list.component.ts
  src/styles.scss
  src/types.ts
Due: eslint --fix, prettier --write

feat: added openAi service and openai edge function
  .ai/openrouter-service-implementation-plan.md
  .ai/tech-stack.md
  .cursor/rules/shared.mdc
  README.md
  src/app/core/openai/openai.models.ts
  src/app/core/openai/openai.service.ts
  src/app/core/supabase/generation.service.ts
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.ts
  src/types.ts
  supabase/config.toml
  supabase/functions/openai/.npmrc
  supabase/functions/openai/deno.json
  supabase/functions/openai/index.ts
Due: eslint --fix, prettier --write

feat: added aliases for paths
  src/app/core/openai/openai.service.ts
  src/app/core/supabase/generation.service.ts
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/core/supabase/shopping-list.service.ts
  src/app/core/supabase/supabase.service.ts
  src/app/layout/nav-list/nav-list.component.ts
  src/app/layout/shell/shell.component.ts
  src/db/supabase.client.ts
  src/main.ts
  src/pages/kitchen-sink/kitchen-sink.page.ts
  src/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: added auth plans and diagrams
  .ai/auth-spec.md
  .ai/diagrams/ui.md
  .ai/prd.md
  .cursor/rules/diagram-ui.mdc
  .cursor/rules/supabase-auth.mdc
Due: prettier --write

feat: added login, register and recover components
  src/app/app.component.scss
  src/app/app.routes.ts
  src/app/features/auth/auth.routes.ts
  src/app/features/auth/pages/login/login.component.html
  src/app/features/auth/pages/login/login.component.scss
  src/app/features/auth/pages/login/login.component.ts
  src/app/features/auth/pages/recover/recover.component.html
  src/app/features/auth/pages/recover/recover.component.scss
  src/app/features/auth/pages/recover/recover.component.ts
  src/app/features/auth/pages/register/register.component.html
  src/app/features/auth/pages/register/register.component.scss
  src/app/features/auth/pages/register/register.component.ts
  src/app/layout/auth-layout/auth-layout.component.ts
Due: eslint --fix, prettier --write

feat: applied login, recover and register page with auth service and guard
  src/app/app.routes.ts
  src/app/auth/account/account.component.html
  src/app/auth/account/account.component.scss
  src/app/auth/account/account.component.ts
  src/app/auth/login/login.component.html
  src/app/auth/login/login.component.scss
  src/app/auth/login/login.component.ts
  src/app/core/guards/auth.guard.ts
  src/app/core/supabase/auth.service.ts
  src/app/features/auth/pages/login/login.component.html
  src/app/features/auth/pages/login/login.component.scss
  src/app/features/auth/pages/login/login.component.ts
  src/app/features/auth/pages/recover/recover.component.html
  src/app/features/auth/pages/register/register.component.html
  src/app/features/lists/generate/components/generation-form/generation-form.component.html
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.html
  src/app/layout/shell/shell.component.html
  src/app/layout/shell/shell.component.scss
  src/app/layout/shell/shell.component.ts
  src/components/card/card.component.html
  src/components/input/input.component.html
  src/components/list/list.component.html
  src/pages/kitchen-sink/kitchen-sink.page.html
Due: eslint --fix, prettier --write

feat: added UTs for login and register and playwright config with example test
  .ai/tech-stack.md
  .ai/test-plan.md
  .ai/test-plan_2.md
  .cursor/rules/jest.mdc
  .cursor/rules/playwright.mdc
  README.md
  TESTING.md
  e2e/example.spec.ts
  e2e/pages/login.page.ts
  jest.config.js
  package-lock.json
  package.json
  playwright-report/index.html
  playwright.config.ts
  setup-jest.ts
  src/app/__mocks__/app.config.ts
  src/app/app.component.spec.ts
  src/app/features/auth/pages/login/login.component.html
  src/app/features/auth/pages/login/login.component.spec.ts
  src/app/features/auth/pages/register/register.component.spec.ts
  test-results/.last-run.json
  tsconfig.jest.json
Due: eslint --fix, prettier --write

feat: added playwright config, page-objects and Shopping Lists Feature e2e tests
  .cursor/rules/playwright-e2e-testing.mdc
  .gitignore
  angular.json
  e2e/example.spec.ts
  e2e/page-objects/delete-confirm-dialog.page.ts
  e2e/page-objects/index.ts
  e2e/page-objects/login.page.ts
  e2e/page-objects/new-shopping-list.dialog.ts
  e2e/page-objects/shopping-list-detail.page.ts
  e2e/page-objects/shopping-lists.page.ts
  e2e/pages/login.page.ts
  e2e/tests/shopping-lists.spec.ts
  e2e/tests/supabase.spec.ts
  package-lock.json
  package.json
  playwright-report/index.html
  playwright.config.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/features/auth/pages/login/login.component.html
  src/app/features/shopping-lists/components/delete-confirm-dialog/delete-confirm-dialog.component.html
  src/app/features/shopping-lists/components/new-shopping-list-dialog/new-shopping-list-dialog.component.html
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.html
Due: eslint --fix, prettier --write

feat: added first github actions
  .github/workflows/master.yaml
  package.json
Due: prettier --write

fix: changed branch to main in GHA
  .github/workflows/master.yaml
Due: prettier --write

fix: updated gha
  .github/workflows/master.yaml
Due: prettier --write

lint: changed div to button
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.html
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.scss
Due: prettier --write

feat: added deploy gha workflow
  .github/workflows/deploy.yml
  .gitignore
  src/environments/environment.template.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: ((any of: *.{ts,js}) or (any of: *.html)) or (any of: *.{json,md,yml,yaml})
