Repository przemyslawkulak/meal2list: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix updated deploy yml and deleted master.yaml
  .github/workflows/deploy.yml
  .github/workflows/master.yaml
Due: prettier --write

test: action test
  src/app/core/supabase/auth.service.ts
Due: eslint --fix, prettier --write

fix: changed gha
  .github/workflows/deploy.yml
Due: prettier --write

feat: added script to generate env
  .eslintrc.json
  .gitignore
  package.json
  scripts/generate-env.js
Due: eslint --fix, prettier --write

feat: added console for checking
  scripts/generate-env.js
Due: eslint --fix, prettier --write

feat: added default category_id
  src/app/core/supabase/generation.service.ts
Due: eslint --fix, prettier --write

feat: added extra validation info for generateFromText method
  src/app/core/supabase/generation.service.ts
Due: eslint --fix, prettier --write

fet: added extra console.error for validation generate list
  src/app/core/supabase/generation.service.ts
  src/app/core/supabase/shopping-list-items.service.ts
Due: eslint --fix, prettier --write

feat: added new system prompt and categories to openai return
  src/app/core/supabase/generation.service.ts
  src/app/features/lists/generate/generate-list.page.ts
Due: eslint --fix, prettier --write

feat: added deletion of item in shoping list
  .cursor/rules/frontend_rules/frontend-angular-angular_coding_standards.mdc
  .cursor/rules/frontend_rules/frontend-angular-angular_material.mdc
  .cursor/rules/frontend_rules/frontend-styling-scss.mdc
  .cursor/rules/frontend_rules/frontend.mdc
  package.json
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
Due: eslint --fix, prettier --write

feat: added shopping-list details sorting
  .cursor/rules/frontend_rules/frontend-angular-angular_coding_standards.mdc
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
Due: eslint --fix, prettier --write

feat: added icons to the shopping-list -details and category page
  package-lock.json
  package.json
  src/app/app.routes.ts
  src/app/core/supabase/auth.service.ts
  src/app/features/categories/categories.component.html
  src/app/features/categories/categories.component.ts
  src/app/features/lists/generate/components/generation-form/generation-form.component.ts
  src/app/features/lists/generate/generate-list.page.ts
  src/app/features/shopping-lists/components/shopping-list-item/shopping-list-item.component.ts
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
  src/app/shared/ui/category-icon/category-icon.component.ts
Due: eslint --fix, prettier --write

feat: implemented add-item-dialog component
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/features/categories/categories.component.ts
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.html
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.scss
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.ts
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
  src/app/shared/category-icon/category-icon.component.ts
  src/app/shared/mocks/constants.mock.ts
  src/app/shared/mocks/defaults.mock.ts
  src/app/shared/mocks/popular-items.mock.ts
Due: eslint --fix, prettier --write

feat: added basic mobile
  src/app/layout/shell/shell.component.html
  src/app/layout/shell/shell.component.scss
  src/app/layout/shell/shell.component.ts
Due: eslint --fix, prettier --write

feat: added custom item
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.html
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.scss
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.ts
Due: eslint --fix, prettier --write

feat: exceed budget
  angular.json
  scripts/generate-env.js
Due: eslint --fix, prettier --write

feat: added register flow
  src/app/core/supabase/auth.service.ts
  src/app/features/auth/pages/register/register.component.html
  src/app/features/auth/pages/register/register.component.scss
  src/app/features/auth/pages/register/register.component.ts
Due: eslint --fix, prettier --write

feat: added showing shopping list only to limited user
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/core/supabase/shopping-list.service.ts
  src/app/core/supabase/supabase.service.ts
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.ts
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
  src/app/shared/mocks/defaults.mock.ts
  src/db/database.types.ts
  src/types.ts
  supabase/migrations/20240415000004_add_user_id_to_shopping_lists.sql
Due: eslint --fix, prettier --write

fix: fixed register unit tests
  src/app/features/auth/pages/register/register.component.spec.ts
Due: eslint --fix, prettier --write

fix: fixed app unit tests
  src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

feat: added source of product for list details
  src/app/core/supabase/auth.service.ts
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/core/supabase/shopping-list.service.ts
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.html
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.scss
  src/types.ts
Due: eslint --fix, prettier --write

feat: translate all to polish
  src/app/components/input/input.component.html
  src/app/core/supabase/auth.service.ts
  src/app/features/auth/pages/login/login.component.html
  src/app/features/lists/generate/components/character-counter/character-counter.component.html
  src/app/features/lists/generate/components/generation-form/generation-form.component.html
  src/app/features/lists/generate/components/generation-status/generation-status.component.html
  src/app/features/lists/generate/components/generation-status/generation-status.component.ts
  src/app/features/lists/generate/generate-list.page.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
Due: eslint --fix, prettier --write

feat: translated login page and hidden
  src/app/features/auth/pages/login/login.component.html
  src/app/layout/shell/shell.component.ts
Due: eslint --fix, prettier --write

feat: added recovery flow, amnd reset password page
  src/app/core/supabase/auth.service.ts
  src/app/features/auth/auth.routes.ts
  src/app/features/auth/pages/recover/recover.component.html
  src/app/features/auth/pages/recover/recover.component.ts
  src/app/features/auth/pages/reset-password/reset-password.component.html
  src/app/features/auth/pages/reset-password/reset-password.component.scss
  src/app/features/auth/pages/reset-password/reset-password.component.ts
Due: eslint --fix, prettier --write

fix: fixed login UTs
  src/app/features/auth/pages/login/login.component.spec.ts
Due: eslint --fix, prettier --write

chore: added roadmap to readme.md
  README.md
Due: prettier --write

feat: added basic mobile view handling
  .cursor/rules/frontend_rules/frontend-styling-scss.mdc
  angular.json
  src/_mixins.scss
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.html
  src/app/features/shopping-lists/pages/shopping-lists-page/shopping-lists-page.component.scss
  src/app/layout/shell/shell.component.html
  src/app/layout/shell/shell.component.scss
  src/app/layout/shell/shell.component.ts
Due: eslint --fix, prettier --write

chore changed readme
  README.md
Due: prettier --write

feat: fix item-container visibility on mobile
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.html
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.scss
Due: prettier --write

chore: added seed for products
  supabase/migrations/20240320120000_create_products_and_categories.sql
  supabase/seed.sql
  supabase/seed_product.csv
Due: none

feat: added product and user-product services
  src/app/core/supabase/product.service.ts
  src/app/core/supabase/user-product.service.ts
  src/db/database.types.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat: added products from db to add-item-dialog
  src/app/core/supabase/product.service.ts
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.html
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.scss
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.ts
  src/app/shared/mocks/constants.mock.ts
Due: eslint --fix, prettier --write

feat: added tracking the adding products
  src/app/core/supabase/product.service.ts
  src/app/core/supabase/shopping-list-items.service.ts
  src/app/core/supabase/user-product.service.ts
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.ts
  src/app/features/shopping-lists/pages/detail/shopping-list-detail.component.ts
  supabase/config.toml
Due: eslint --fix, prettier --write

feat: added history of the products
  src/app/core/supabase/user-product.service.ts
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.html
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.scss
  src/app/features/shopping-lists/components/add-item-dialog/add-item-dialog.component.ts
Due: eslint --fix, prettier --write

feat: added Standardized Product Database
  README.md
Due: prettier --write

fix: linter issue fix
  src/app/layout/shell/shell.component.html
Due: prettier --write

chore updated readme
  README.md
Due: prettier --write

feat: added standarization of the units in the generation system prompt
  README.md
  src/app/core/supabase/generation.service.ts
Due: eslint --fix, prettier --write

feat: added generation-review screen
  src/app/app.routes.ts
  src/app/core/supabase/generation.service.ts
  src/app/features/generation-review/components/review-summary/review-summary.component.ts
  src/app/features/generation-review/components/review-table/review-table.component.html
  src/app/features/generation-review/components/review-table/review-table.component.scss
  src/app/features/generation-review/components/review-table/review-table.component.ts
  src/app/features/generation-review/generation-review.page.html
  src/app/features/generation-review/generation-review.page.scss
  src/app/features/generation-review/generation-review.page.ts
  src/app/features/generation-review/index.ts
  src/app/features/lists/generate/components/generation-form/generation-form.component.ts
  src/app/features/lists/generate/generate-list.page.html
  src/app/features/lists/generate/generate-list.page.ts
  src/types.ts
Due: eslint --fix, prettier --write

chore: updated current task
  .ai/tasks/current-task.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: ((any of: *.{ts,js}) or (any of: *.html)) or (any of: *.{json,md,yml,yaml})
